body, html {
  margin: 0;
}


#burger {
  float: left;  
  padding: 40px;
}

.buttonBack {
  background-color: transparent;
  border: none;
}

.green {
  background-color: rgb(91, 126, 91);
  height: 200px;
}

li {
  display: inline;
  font-size: 3em;
  padding: 30px;
}

.line {
  background-color: black;
  width: 60px;
  height: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;

}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: tomato;
  transition-duration: 1s;
}

.move:hover {
  animation: slide 2s;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    top: 0px
  }
  100% {
    top: 80px
  }
}

.hidden {
  opacity: 0;
  transition: all 1s ease;
}

.shrink {
  width: 0%;
  transition: all 2s ease;
}

ul {
  text-align: center;
  padding-top: 100px;
  padding-left: 0px;
  width: 100%;
  transition: all 2s ease;
}

.img-back {
  opacity: 0.5;
  padding-left: 40px;
}

.menu-hidden {
  display: none;
  transition: all 0.5s ease;
}

.rotate-top {
  transform: rotate(45deg);
  transition: all 1s ease;
}

.rotate-bottom {
  transform: rotate(-45deg);
  transition: all 1s ease;
  margin-top: -19px;
}

